.player-container {
  margin: 0 auto;
  max-width: 700px;
}

.player-retry-button-wrapper {
  text-align: center;
}

.player-card-link {
  display: block;
  color: rgba(0,0,0,.87);
}

.player-card-link:hover {
  color: rgba(0,0,0,.87);
  opacity: 0.7;
}

.player-menu-title {
  padding: 0.5em 0;
}